.introduction {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.introduction .img img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

.introduction .desc {
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction .desc > span {
  color: #878787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 14px;
}

.introduction .desc h2 {
  color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introduction .desc h2::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 2px;
  width: 100%;
  background: #ebebeb;
  margin: 30px 0;
}

.introduction .desc p {
  margin-bottom: 15px;
}

.introduction .desc p.strong {
  color: #1c1c1c;
  font-weight: 700;
}

.introduction .desc .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.introduction .desc .btns a {
  width: 47%;
  white-space: nowrap;
}

.introduction .desc .btns a:nth-child(2) {
  background: #1c1c1c;
}

.introduction .desc .btns a:nth-child(2):hover {
  background: #ba9e60;
}

.gastrobar {
  padding: 70px 5% 100px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gastrobar .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gastrobar .img img {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gastrobar .img img:first-child {
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
}

.gastrobar .desc {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gastrobar .desc h2 {
  margin-bottom: 25px;
  color: #1c1c1c;
}

.gastrobar .desc p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 25px;
}

.short-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.short-desc .desc {
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.short-desc .desc h2 {
  color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.short-desc .desc p {
  margin-bottom: 20px;
}

.short-desc .img {
  padding: 0;
  height: 440px;
}

.short-desc .img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.short-desc.reverse .desc {
  padding: 0 30px;
}

@media (max-width: 992px) {
  .introduction {
    height: 440px;
  }
  .introduction .desc h2 {
    font-size: 36px;
  }
  .introduction .desc h2::after {
    display: none;
  }
  .introduction .desc .btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .introduction .desc .btns a {
    width: 100%;
    margin-bottom: 10px;
  }
  .gastrobar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gastrobar .desc {
    margin-bottom: 20px;
  }
  .short-desc .desc {
    padding: 0 15px;
  }
  .short-desc.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  .short-desc.reverse .desc {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .introduction {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .introduction .desc .btns a {
    width: 48%;
  }
  .short-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .short-desc .img {
    height: 340px;
  }
}

@media (max-width: 576px) {
  .introduction .desc {
    padding: 20px 10px;
  }
  .introduction .desc > span {
    font-size: 11px;
    margin-bottom: 10px;
  }
  .introduction .desc h2 {
    font-size: 24px;
  }
  .introduction .desc h2::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0;
  }
  .introduction .desc p {
    font-size: 14px;
  }
  .introduction .desc .btns a {
    font-size: 11px;
    margin: 0;
  }
  .introduction .img {
    padding: 0;
    height: 230px;
  }
  .gastrobar {
    padding: 20px 0;
  }
  .gastrobar .desc {
    padding: 0 10px;
  }
  .gastrobar .desc h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .gastrobar .desc p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .gastrobar .img {
    padding: 0 10px;
  }
  .gastrobar .img img:first-child {
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
  }
  .short-desc {
    padding: 0;
  }
  .short-desc .desc {
    padding: 20px 10px;
  }
  .short-desc .desc h2 {
    font-size: 24px;
  }
  .short-desc .desc h2::after {
    margin: 15px 0;
    width: calc(100vw - 20px);
    background: #ebebeb;
  }
  .short-desc .desc p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .short-desc .desc p:last-child {
    margin-bottom: 0;
  }
  .short-desc .img {
    height: 240px;
  }
  .short-desc.reverse .desc {
    padding: 20px 10px;
  }
}
