{% load static %}
{#{% load crispy_forms_tags %}#}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Melody Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static "createadmin/vendors/iconfonts/font-awesome/css/all.min.css"%}">
  <link rel="stylesheet" href="{% static "createadmin/vendors/css/vendor.bundle.base.css"%}">
  <link rel="stylesheet" href="{% static "createadmin/vendors/css/vendor.bundle.addons.css"%}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "createadmin/css/style.css"%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'createadmin/images/favicon.png'%}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="{% url 'registration'%}">
            <img src="{% static 'createadmin/images/logo.svg'%}" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'registration'%}">
            <img src="{% static 'createadmin/images/logo-mini.svg'%}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="fas fa-bars"></span>
        </button>
        <ul class="navbar-nav">
          <li class="nav-item nav-search d-none d-md-flex">
            <div class="nav-link">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
{#                  <script>#}
{#                      $(function()#}
{#                         {$("#query").autocomplete({#}
{#                          source: "/search_auto/",#}
{#                          select: function (event, ui) { //item selected#}
{#                          AutoCompleteSelectHandler(event, ui)#}
{#                           },#}
{#                          minLength: 2,#}
{#                             });#}
{#                         });#}
{##}
{#                          function AutoCompleteSelectHandler(event, ui)#}
{#                         {#}
{#                            var selectedObj = ui.item;#}
{#                          }#}
{#                  </script>#}
{#                  <form method="post" action="{% url 'search'%}">#}
{#                      {% csrf_token %}#}
{#                      <select name="catid" class="input search-categories" style="background-color: #D5D5D5;  border: none; ">#}
{#								<option value="0"></option>#}
{##}
{#                                {% for rs in category %}#}
{#                                {% if rs.is_leaf_node %}#}
{#                           <option value="{{ rs.id }}">{{ rs.title }}</option>#}
{#                                {% endif %}#}
{#                                {% if not rs.is_leaf_rs %}#}
{##}
{#                                {{ children }}#}
{##}
{#                                {% endif %}#}
{#                                {% endfor %}#}
{#                                </select>#}
{#                <input type="text" name="query" class="form-control" placeholder="Search" aria-label="Search">#}
{#                  </form>#}
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item d-none d-lg-flex">


          </li>
          <li class="nav-item dropdown d-none d-lg-flex">
            <div class="nav-link">
             <form class="form-inline" action="{% url 'selectlanguagee' %}" method="post">
                        {% csrf_token %}
                          <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language" onchange="submit()" style=" width: 130px; height: 35px; background-color: white;">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <noscript>
                                <input type="submit" value="Set" />
                            </noscript>
                        </form>
                     </div>
                 </li>
            <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'assetss/register.jpg'%}" alt="image" style="width: 40px; height: 40px;"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

              <div class="dropdown-divider"></div>
              <a href="{% url 'logout_form'%}" class="dropdown-item">
                <i class="fas fa-power-off text-primary"></i>
                {% trans 'Logout'%}
              </a>
                <div class="dropdown-divider"></div>


            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="fas fa-ellipsis-h"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="fas fa-bars"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="fas fa-fill-drip"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close fa fa-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles primary"></div>
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>


      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image">
                <img src="{% static 'assetss/register.jpg'%}" alt="image" style="width: 40px; height: 40px;"/>
              </div>
              <div class="profile-name">
                <p class="name">
                    Registrations
                </p>
                <p class="designation">

                </p>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration'%}">
              <i class="fa fa-home menu-icon"></i>
              <span class="menu-title">{% trans 'Dashboard'%}</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'order_detail_reg'%}">
              <i class="fas fa-info-circle menu-icon"></i>
              <span class="menu-title">{% trans 'Order List'%}</span>
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_messages_reg'%}">
              <i class="fas fa-question menu-icon"></i>
              <span class="menu-title">{% trans 'Contact'%}</span>
            </a>
          </li>


        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
                {% trans 'List Order'%}
            </h3>
          </div>
          <div class="row">
              <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{% trans 'List Order'%}</h4>
                  <p class="card-description">
                  </p>
                    {% for rs in orderdetail %}


                    <hr>
                   {{ rs.id }}) id
                    <div >
                        {% trans 'Name'%}: - {{ rs.name }}<br>
                        {% trans 'Surname'%}: - {{ rs.surname }}<br>
                        {% trans 'Citizenship'%}: - {{ rs.citizenship }}<br>
                        {% trans 'Phone'%}: - {{ rs.phone }}<br>
                        {% trans 'Payment'%}: - {{ rs.pay }}<br>
                        {% trans 'Email'%}: - {{ rs.email }}<br>
                        {% trans 'Guest'%}: - {{ rs.guest }}<br>
                        {% trans 'Arrival'%}: - {{ rs.arrival }}<br>
                        {% trans 'Departure'%}: - {{ rs.departure }}<br>
                        {% trans 'Room'%}: - {{ rs.room }}<br>
                        {% trans 'Category'%}: - {{ rs.category }}<br>
                        {% trans 'Traffics'%}: - {{ rs.select }}<br>
                        {% trans 'ip address'%}: - {{ rs.ip }}<br>
                        {% trans 'Is it accepted'%}: - {{ rs.status }}
                    <hr>
                    </div>
                        <br>


                        <a href="{% url 'admin_note_reg' rs.id %}"><button class="btn btn-primary mr-2">{% trans 'Status'%}</button></a>
                        <a href=""><button class="btn btn-primary mr-2">{% trans 'Delete'%}</button></a>

                    {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            {% include 'pagination/paginations.html' with page=orderdetail %}
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static "createadmin/vendors/js/vendor.bundle.base.js"%}"></script>
  <script src="{% static "createadmin/vendors/js/vendor.bundle.addons.js"%}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static "createadmin/js/off-canvas.js"%}"></script>
  <script src="{% static "createadmin/js/hoverable-collapse.js"%}"></script>
  <script src="{% static "createadmin/js/misc.js"%}"></script>
  <script src="{% static "createadmin/js/settings.js"%}"></script>
  <script src="{% static "createadmin/js/todolist.js"%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static "createadmin/js/file-upload.js"%}"></script>
  <script src="{% static "createadmin/js/typeahead.js"%}"></script>
  <script src="{% static "createadmin/js/select2.js"%}"></script>
  <!-- End custom js for this page-->
</body>
</html>
